@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area *, .printable-receipt, .printable-receipt * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .printable-receipt {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 80mm;
  }
  .page-break-inside-avoid {
    break-inside: avoid;
  }
}
